---
layout: default
title: Sarah Wiger Graphic Design
date: 2013-01-01
---

    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
          <div class="span2">
            <a href="index.html"><img src="images/sarah-wiger.png" alt="{{site.title}}"></a>
          </div>
          <div class="span10" id="blurb">
            {% include blurb.html %}
          </div>
        </div>
        <hr />
        <div class="row">
            <div class="span12" id="portfolio">
                <ul class="thumbnails">
                   {% for item in site.portfolio %}
                      <li class="span3">
                        <div class="thumbnail">
                          <a title="{{ item.title }}" href="{{ item.image }}"><img src="{{ item.image }}" alt="{{ item.title }}" /></a>
                            <div class="caption">
                              <h2>{{item.title }}</h2>
                              <p>{{item.caption}}</p>
                            </div>
                        </div>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span12">
                <small>Copyright &copy; Sarah Wiger Graphic Design</small>
            </div>
        </div>
    </div>
