---
layout: default
title: Sarah Wiger Graphic Design
date: 2013-01-01
---

  <div id="swirly">
    <div class="container">
        <div class="row">
          <div class="span5" id="logo">
            ~ Sarah Wiger ~
          </div>
          <div class="span7" id="contact">
            <span id="mailto"></span> | <span id="cellph"></span></p>
          </div>
        </div>
        <div class="row">
          <div class="span12 rounded" id="leader">
            <div class="span2">
              <a href="/"><img src="/images/sarah-wiger-pic.jpg" alt="{{site.title}}" id="mugshot" class="rounded"></a>
            </div>
            <div class="span9" id="blurb">
              <p>{% include blurb.html %}</p>
            </div>
          </div>
        </div>
        <hr class="style-two">
        <div class="row">
            <div class="span12" id="portfolio">
                <ul class="thumbnails">
                   {% for item in site.portfolio %}
                      <li class="span3">
                        <div class="thumbnail">
                          <a data-toggle="fancybox" data-fancybox-group="portfolio" title="{{ item.caption }}" id="{{item.id}}"
                             href="{{item.image}}"><img src="{{ item.image }}" alt="{{ item.title }}" /></a>
                            <div class="caption">
                              <h4>{{item.title }}</h4>
                              <p>{{item.caption}}</p>
                            </div>
                        </div>
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span12">
                <small>Copyright &copy; Sarah Wiger Graphic Design</small>
            </div>
        </div>
     </div>
  </div>
